<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.stronk" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/StronkTheme" >

        <!-- Menu -->
        <activity
            android:name="com.android.stronk.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Workouts start -->
        <activity
            android:name="com.android.stronk.activity.Pull1Activity"
            android:label="@string/title_activity_pull1"
            android:parentActivityName="com.android.stronk.activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.stronk.activity.Pull2Activity"
            android:label="@string/title_activity_pull2"
            android:parentActivityName="com.android.stronk.activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.stronk.activity.Push1Activity"
            android:label="@string/title_activity_push1"
            android:parentActivityName="com.android.stronk.activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.stronk.activity.Push2Activity"
            android:label="@string/title_activity_push2"
            android:parentActivityName="com.android.stronk.activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.stronk.activity.Progress"
            android:label="@string/title_activity_progress"
            android:parentActivityName="com.android.stronk.activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
